html {
    background-color: #403f1b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    max-width: 633px;
    margin: auto;
}
h1 {
    color: #d96446;
    font-size: 52px;
    text-align: center;
}
h2 {
    color: #d96446;
    transition: color 0.4s
    ease-out 50ms
}
/* Used This to get an animation while hovering the headline
https://blog.hubspot.com/website/css-hover-animation */
h2:visited {
    color: #d96446;
 }
h2:link {
    color: #d96446;
}
h2:hover {
    color: #FF0000;
}
.portfoliocontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1rem;
    text-align: center;
}
.startpage{
    text-align: center;
}
img {
    max-width: 280px;
    background-color: white;
}
section{
    background-color: #222013;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}
/* Took help from the following link for this animation: https://www.w3schools.com/css/css3_animations.asp */
#section1 {animation-timing-function: ease-in-out;
    animation: mymove 5s;}
#section2 {animation-timing-function: ease-in-out;
    animation: mymove2 5s;}

@keyframes mymove {
    from {left: -300px;}
    to {left: 0px;}
  }
  @keyframes mymove2 {
    from {left: 300px;}
    to {left: 0px;}
  }
.pwidth {
    max-width: 633px;
}
/* took help from this link to get the following lines to work: https://www.w3schools.com/css/css3_mediaqueries_ex.asp */
@media screen and (max-width:632px){
    main {
        max-width: 320px;
    }
    .pwidth {
        max-width: 320px;
        text-align: center;
    }
}
footer{
    text-align: center;
    font-weight: bold;
}